/* Styles for Map Elements on Bicycle Accident Page*/

 #map-canvas { height: 100%; }

 #map-wrapper { height: 950px; }

 #map_canvas img, .gmnoprint img {
     max-width: none;
 }
 .gm-style img{max-width:none;}
 .crash-data {
    max-width: 400px;
    min-width: 130px;
    padding: 10px 0 0 10px;
 }
 /* form style */

  .form-style span.required{
     color:red;
 }
 .form-style .tel-number-field{
     width: 40px;
     text-align: center;
 }
 .form-style  .long{
     width: 120px;
 }

 .form-style input.input-field,
 .form-style .tel-number-field,
 .form-style .textarea-field,
  .form-style .select-field{
     -webkit-transition: all 0.30s ease-in-out;
     -moz-transition: all 0.30s ease-in-out;
     -ms-transition: all 0.30s ease-in-out;
     -o-transition: all 0.30s ease-in-out;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     border: 1px solid #C2C2C2;
     box-shadow: 1px 1px 4px #EBEBEB;
     -moz-box-shadow: 1px 1px 4px #EBEBEB;
     -webkit-box-shadow: 1px 1px 4px #EBEBEB;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     padding: 7px;
     outline: none;
 }
 .form-style .input-field:focus,
 .form-style .tel-number-field:focus,
 .form-style .textarea-field:focus,
 .form-style .select-field:focus{
     border: 1px solid #0C0;
 }
 .form-style .textarea-field{
     height:100px;

 }
 .form-style input[type="button"],
 .form-style input[type="submit"] {
     -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
     -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
     box-shadow: inset 0px 1px 0px 0px #3985B1;
     background-color: #216288;
     border: 1px solid #17445E;
     display: inline-block;
     cursor: pointer;
     color: #FFFFFF;
     padding: 8px 18px;
     text-decoration: none;
     font: 12px Arial, Helvetica, sans-serif;
 }
 .form-style input[type="button"]:hover,
 .form-style input[type="submit"]:hover {
     background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
     background-color: #28739E;
 }
 .msg_contain {
 	margin-top: 25px;
 	margin-bottom: 25px;
 }
 .f-success {
 	background: #D8FFC0;
 	padding: 5px 10px 5px 10px;
 	margin: 0px 0px 5px 0px;
 	border: none;
 	font-weight: bold;
 	color: #2E6800;
 	border-left: 3px solid #2E6800;
 }
 .f-error {
 	background: #FFE8E8;
 	padding: 5px 10px 5px 10px;
 	margin: 0px 0px 5px 0px;
 	border: none;
 	font-weight: bold;
 	color: #FF0000;
 	border-left: 3px solid #FF0000;
 }

 /* b_sidebar contact form */

 .b_contact-form {
 	position: relative;
 }
 .b_contact-form .req {
 	position: absolute;
 	font:400 12px/12px Arial, sans-serif;
 	top:12px;
 	right:20px;
 	color:#ccaba7;
 	text-transform: uppercase;
 }
 .b_contact-form h3 {
 	background-color:#7f1601;
 	padding:16px 18px 14px;
 	font:400 20px/22px 'Quattrocento Sans', sans-serif;
 	color:#e2ccc7;
 	border-bottom:2px solid #fff;
 }
 .b_contact-form h3 strong {
 	color:#fff;
 	text-transform: uppercase;
 	display: block;
 }
 .b_contact-form #scuf {
 	background-color:#e4e4e4;
 	padding:19px 18px 23px;
 }
 .b_contact-form input[type="text"],
 .b_contact-form textarea {
 	background-color:#fff;
 	border-radius:3px;
 	font:400 13px/13px Arial, sans-serif;
 	color:#242424;
 	padding:10px 2% 8px;
 	width:96%;
 	margin-bottom:8px;
 }
 .b_contact-form textarea {
 	height:50px;
 }
 .b_contact-form input[type="submit"] {
 	background-color:#7f1601;
 	border-radius: 3px;
 	color:#fff;
 	font:400 16px/16px 'Quattrocento Sans', sans-serif;
 	text-transform: uppercase;
 	padding:10px 0 8px;
 	width:100%;
 	text-align: center;
 	border:none;
 	cursor: pointer;
 }
 .b_contact-form input[type="submit"]:hover {
 	background-color:#336699;
 }


 /*-- BICYCLE ACCIDENT FORM  !Move to Style.CSS --*/

 .sidebar-bicycle {
 	width: 350px;
 	position:  relative;
 	right: 20px;
 	top: -910px;
  float:right;
 }

#b_contact-form {
 	background-color: rgba(228, 228, 228, 0.8)!important;
 }
#ui-datepicker-div {
    background: none repeat scroll 0 0 #fff;
    font-size: 14px;
    padding: 10px;
}
#ui-datepicker-div td, #ui-datepicker-div th{display:inline-block; margin:0 10px; min-width: 18px;}
#ui-datepicker-div .ui-datepicker-prev{float:left;}
#ui-datepicker-div .ui-datepicker-prev{float:right;}
#ui-datepicker-div .ui-datepicker-title{clar:both;margin-top:10px;text-align:center;}

body.page-template-page-bicycle-accident-php .liveChatFloatingButton{bottom:15%;}
div#severity-buttons-wrapper,div#weather-buttons-wrapper, div#lighting-buttons-wrapper{display:block;clear:both;}
label#severity{    display: block;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 10px 0 20px;}
label#severity-button,label#weather-button, label#lighting-button {float:left;}
label#severity-button input, label#weather-button input, label#lighting-button input {display:none;}
label#severity-button.fatal > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/formicons.png") repeat scroll -11px -8px rgba(0, 0, 0, 0);
}
label#severity-button.personal-injury > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/formicons.png") repeat scroll -11px -69px rgba(0, 0, 0, 0);
}
label#severity-button.property-damage > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/formicons.png") repeat scroll -8px -133px rgba(0, 0, 0, 0);
}
label#severity-button.no-damage > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/formicons.png") repeat scroll -11px -194px rgba(0, 0, 0, 0);
    margin-right:0;
}
label#severity-button > input + span{ /* IMAGE STYLES */
    background: #fff;
    cursor: pointer;
    text-align: center;
    display: block;
    height: 20px;
    width: 48px;
    margin-right: 35px;
    opacity: .4;
    padding-top:40px;
    margin-bottom: 15px;
    transition: all ease .5s;
}
label#severity-button > input:checked + span, label#severity-button > input + span:hover, label#weather-button > input:checked + span, label#weather-button > input + span:hover,label#lighting-button > input:checked + span, label#lighting-button > input + span:hover{ /* (RADIO CHECKED) IMAGE STYLES */
  opacity: 1;
}
label#weather-button > input + span{ /* IMAGE STYLES */
    background: #fff;
    cursor: pointer;
    text-align: center;
    display: block;
    height: 20px;
    width: 48px;
    margin-right: 16px;
    opacity: .4;
    padding-top:50px;
    margin-bottom: 15px;
    transition: all ease .5s;

}

label#weather-button.sun > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/weathericons.png") no-repeat scroll -0px 0px rgba(0, 0, 0, 0);
}
label#weather-button.cloud > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/weathericons.png") no-repeat scroll  -153px 0 rgba(0, 0, 0, 0);
    height: 10px;
}
label#weather-button.wind > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/weathericons.png") no-repeat scroll  -50px 0 rgba(0, 0, 0, 0);
    height: 10px;
}
label#weather-button.snow > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/weathericons.png") no-repeat scroll -100px 0 rgba(0, 0, 0, 0);
    margin-right:0;
}
label#weather-button.rain > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/weathericons.png") no-repeat scroll -202px 0 rgba(0, 0, 0, 0);
}
label#lighting-button > input + span{ /* IMAGE STYLES */
    background: #fff;
    cursor: pointer;
    text-align: center;
    display: block;
    height: 20px;
    width: 48px;
    margin-right: 22px;
    opacity: .4;
    padding-top:50px;
    margin-bottom: 30px;
    transition: all ease .5s;

}
label#lighting-button.day > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/lighting.png") no-repeat scroll -0px 0px rgba(0, 0, 0, 0);
}
label#lighting-button.night > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/lighting.png") no-repeat scroll  -48px 0 rgba(0, 0, 0, 0);
    height: 10px;
}
label#lighting-button.dim > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/lighting.png") no-repeat scroll -106px 0 rgba(0, 0, 0, 0);
    height: 10px;
    width: 86px;
    margin-right: 20px;
}
label#lighting-button.unknown > input + span{ /* IMAGE STYLES */
    background: url("http://www.cwdevelopsp.com/avrek/wp-content/themes/avrek/images/lighting.png") no-repeat scroll -189px 0 rgba(0, 0, 0, 0);
    margin-right:0;
    width: 66px;
}
div#map-filtering {width: 350px; margin: 10px auto 0; overflow: hidden;background: none repeat scroll 0 0 rgba(228, 228, 228, 0.8) !important;}
div#map-filtering h3 {font-size: 20px; padding: 10px; text-align: center; background: #7F1601; color: #fff; font-weight: normal;}
ul#map-filtering-options li {list-style: none; float:left; padding:5px;}
ul#map-filtering-options li input[type="checkbox"]{display: block; float: left; margin-right: 5px; margin-top: 4px;}
ul#map-filtering-options li:first-child{ clear: both; display: block; width: 100%; text-align: center;}
