/*
Theme Name: Avrek
Author: Consultwebs.com
Author URI: http://www.consultwebs.com
Description: Custom theme for espanol.avrek.com
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, output, section, summary {
	display:block;
}
body {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#181818;
	background-color:#fff;
	line-height:22px;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}
:focus {
	outline:0 !important;
}
table {
	border-collapse:collapse;
	border-spacing:0px;
}
caption, th, td {
	font-weight:normal;
	text-align:left;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
em {
	font-style:italic;
}
* {
	margin:0px;
	padding:0px;
}
.left, .column {
	float:left;
}
.right {
	float:right;
}
.clearB {
	clear:both;
}
.marginA {
	margin:auto;
}
a {
	color:#1a4d80;
	text-decoration:none;
}
a:hover {
	color:#7f1601;
}
a img {
	border:0px;
}
img {
	border: 0 none;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
form, table {
	padding:0px;
	margin:0px;
}
p, h1, h2, h3, h4, h5, h6 {
	padding:0px 0px 20px 0px;
	margin:0px;
}
.content p {
	padding-bottom:25px;
}
h1{
	font:400 45px/45px 'Quattrocento Sans', sans-serif;
}
h2{
	font:700 23px/23px 'Quattrocento Sans', sans-serif;
}
h3{
	font:700 18px/18px 'Quattrocento Sans', sans-serif;
}
h4, h5 {
	font:700 15px/15px 'Quattrocento Sans', sans-serif;
}
.visible-phone {
	display:none;
}
.visible-desktop {
	display:block;
}
.wrapper{
	width:940px;
	margin:auto;
	padding:0 10px;
	position:relative;
}
.wrapper:after, .clearfix:after {
	content:"";
	display:table;
	clear:both;
}
#skip a {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

/* HEADER */
header {
	width:100%;
	background-color:#f5f3f3;
	border-top:6px solid #7f1601;
	padding:50px 0 38px;
}
.logo a {
	background:url('images/avrek-logo.png') no-repeat 0 0;
	display: block;
	text-indent: -9999px;
	height:73px;
	width:324px;
}
.call-chat {
	width:33%;
	text-align: right;
}
header .call-chat {
	float: right;
}
.call-chat a {
	font:400 17px/17px 'Quattrocento Sans', sans-serif;
	color:#fff;
	background:url('images/ico-chat.png') no-repeat 15px 12px #336699;
	padding:11px 14px 12px 45px;
	border-radius:3px;
	text-transform: uppercase;
}
.call-chat a:hover {
	background-color: #7f1601;
}
.call-chat span {
	font:400 16.5px/16.5px 'Quattrocento Sans', sans-serif;
	color: #000;
	display: block;
	text-transform: uppercase;
	margin-top: 17px;
}
.call-chat span em {
	font-style: normal;
	font-weight: 700;
}
.call-chat strong {
	display: block;
	font:700 27px/27px 'Quattrocento Sans', sans-serif;
	color:#7f1601;
}


/* main nav w/dropdowns */
.sticky-wrapper {
	height: auto!important;
	z-index: 10;
}
nav {
	width:100%;
	background-color:#fff;
	position: relative;
	z-index: 10;
}
.sticky-wrapper.is-sticky nav {
	border-bottom:1px solid #E1E1E1;
}
nav ul {
	list-style:none;
	float: right;
}
nav ul li {
	float: left;
	position: relative;
}
nav ul li a {
	font: 700 16px/16px 'Quattrocento Sans', sans-serif;
	padding:21px 18px 17px;
	display: block;
	color:#595959;
	text-transform: uppercase;
	border-right:1px solid #e8e8e8;
}
nav ul > li a:hover, 
nav ul > li:hover > a {
	color:#16577c;
}
nav ul > li.current-menu-item > a {
	color:#6e1200;
}
nav ul li.home a {
	text-indent: -9999px;
	background:url('images/ico-home-black.png') no-repeat 0 20px;
}
nav ul li.home a:hover {
	background-image:url('images/ico-home-blue.gif');
}
nav ul li:hover > ul{
	display:block;
}
nav ul ul {
    background-color: #f5f3f3;
    display: none;
    left: 0;
	z-index:10;
    position: absolute;
    top: 54px;
    width: 250px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}
nav ul ul li{
	float:none;
}
nav ul ul li a{
	padding:16px 35px 14px;
	display:block;
	font: 400 14px/14px Arial, sans-serif;
	color:#101010;
	background:url('images/arrow-menu-blue.gif') no-repeat 20px 18px;
	text-transform: none;
	border-right: none;
}
nav ul ul li:last-child a{
	border:none;
}
nav ul ul li:hover a{
	background-color:#fff;
	background-image:url('images/arrow-menu-red.gif');
	color:#101010;
}
nav ul ul ul {
	top:0;
	left:250px;
}
nav ul ul li:hover ul li a {
	background-color:#f5f3f3;
	background-image:url('images/arrow-menu-blue.gif');	
}
nav ul ul li:hover ul li:hover a {
	background-color:#fff;
	background-image:url('images/arrow-menu-red.gif');
}

 
/* HOME PAGE */

/* banner */
#banner {
	width:100%;
	background-color:#3f4246;
	border-bottom:3px solid #fff;
}
#banner .banner-nav {
	position: absolute;
	bottom: 0;
/*	left: 50%; */
	left: 40%;
	border-top:4px solid #dcdcde;
	border-right:4px solid #dcdcde;
	border-left:4px solid #dcdcde;
	z-index: 5;
}
#banner .banner-nav a {
	display: block;
	float: left;
	background-color:#336699;
	font:400 18px/18px 'Quattrocento Sans', sans-serif;
	color:#fff;
	padding:13px 34px 11px;
	border-right:2px solid #dcdcde;
}
#banner .banner-nav a:first-child {
/*	background-image:url('images/bg-solutions-cols.png');
	background-position: 18px 5px;
	background-repeat:no-repeat;
	padding-left:68px; */
}
#banner .banner-nav a:last-child {
	border:none;
}
#banner .banner-nav a:hover, 
#banner .banner-nav a.activeSlide {
	background-color: #7f1601;
}
#banner .wrapper {
	width:100%;
	padding: 0;
}
#banner .slide-holder {
	width:100%;
}
#banner .slide {  /* top padding + height must equal 448 */
	padding:50px 0 0;
	height: 398px;
	width:100%;
	background-repeat:no-repeat;
	background-position: 50% 0;
}
#banner .slide.slide1 {
	
	background-image:url('images/bg-banner-results2.jpg');
}
#banner .slide.slide2 {
	background-image:url('images/bg-banner-passion2.jpg');
}
#banner .slide.slide3 {
	background-image:url('images/bg-banner-solutions.jpg');
}
#banner .slide.slide4 {
	background-image:url('images/bg-banner-integrity2.jpg');
}
#banner .slide-wrapper {
	width:960px;
	margin:auto;
	position: relative;
	padding:0 10px;
}
#banner .slide-text {
	width:47%;
	color:#fff;
}
#banner .slide-text h2 {
	font: 400 34px/42px 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
}
#banner .slide-text h2 strong {
	font-weight:700;
	font-size:41px;
	display: inline-block;
	background:url('images/bg-headline-trans.png') repeat 0 0;
	padding: 13px 20px 10px;
	margin:0 0 5px -20px;
}
#banner .slide-text h2 span {
	display: block;
}
#banner .slide-text img {
	margin-bottom: 13px;
}
#banner .slide-text p {
	font:400 18px/28px 'Quattrocento Sans', sans-serif;
}
#banner .slide-text .name {
	font-size:17px;
}

/* practice area columns */
#pa-cols {
	width:100%;
	background-color:#f3f5f7;
	padding:38px 0 23px;
	text-align: center;
}
#pa-cols h2 {
	font:400 42.5px/42.5px 'Quattrocento Sans', sans-serif;
	padding-bottom: 28px;
}
#pa-cols .column {
	width:14%;
}
#pa-cols .col-last{
	width: 15%;
}
#pa-cols .column img {
	display: block;
	margin: 0 auto 16px;
}
#pa-cols .column a {
	font: 700 17px/17px 'Quattrocento Sans', sans-serif;
	color:#000;
}
#pa-cols .column a:hover {
	color:#7f1601;
}
#pa-cols .btn-services {
	display: inline-block;
	background-color: #E8E9EB;
	border-radius: 3px;
	font:400 15px/15px 'Quattrocento Sans', sans-serif;
	padding:12px 25px 9px;
	text-transform: uppercase;
	margin-top: 30px;
	border: solid 1px #37231F;
	color: #444444;
}

/* attorneys / form / award logos */
#attorneys {
	width:100%;
	background-color:#fff;
	padding:2px 0 0;
}
#attorneys .column {
	width:33%;
	border-right:2px solid #fff;
	border-bottom:2px solid #fff;
	height:317px;
	position: relative;
}
#attorneys .column-span2{
width: 60%;
float: left;
}

.spanfull{
clear:both;
width: 100%;
float: left;
margin-top: 40px;
margin-bottom: 30px;
padding: 0 0 0 120px;	
}

#attorneys .column:nth-child(3n) {
	border-right:none;
}
#attorneys h1 {
	font: 700 23px/23px 'Quattrocento Sans', sans-serif;
	color:#7f1601;
	padding: 30px 30px 24px 14px;
	text-transform: uppercase;
}
#attorneys p, 
#attorneys h2 {
	padding:0 30px 20px 14px;
}
#attorneys .image-thumb, #attorneys .alignnone{
border: solid #5B5C5E 1px;
border-radius: 2px;
}

.btn-small {
	background-color:#f3f5f7;
	border-radius:3px;
	color:#1a4d80;
	font:400 13px/13px 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	padding:5px 10px 4px;
}
.btn-small:hover {
	background-color: #1a4d80;
	color:#fff;
}
#attorneys .btn-small {
	margin-right:30px;
}
#attorneys .atty-img a {
	display: block;
}
#attorneys .atty-img .name {
	position: relative;
	text-align: center;
	bottom:50px;
	font:700 27px/27px 'Quattrocento Sans', sans-serif;
	color:#fff;
	text-shadow: 0px 0px 12px #000;
}
.award-logos{
	text-align: center;
	padding: 0px;
}
.award-logos img {
display: inline-block;
margin: 0 auto;
padding-left: 35px;
}
.award-logos img:first-child {
padding-left: 0px;
}
/* sidebar contact form */
.contact-form {
	position: relative;
}
.contact-form .req {
	position: absolute;
	font:400 12px/12px Arial, sans-serif;
	top:12px;
	right:20px;
	color:#ccaba7;
	text-transform: uppercase;
}
.contact-form h3 {
	background-color:#7f1601;
	padding:16px 18px 14px;
	font:400 20px/22px 'Quattrocento Sans', sans-serif;
	color:#e2ccc7;
	border-bottom:2px solid #fff;
}
.contact-form h3 strong {
	color:#fff;
	text-transform: uppercase;
	display: block;
}
.contact-form form {
	background-color:#e4e4e4;
	padding:19px 18px 23px;
}
.contact-form input[type="text"], 
.contact-form textarea {
	background-color:#fff;
	border-radius:3px;
	font:400 13px/13px Arial, sans-serif;
	color:#242424;
	padding:10px 2% 8px;
	width:96%;
	margin-bottom:8px;
	border:none;
}
.contact-form textarea {
	height:50px;
}
.contact-form input[type="submit"] {
	background-color:#7f1601;
	border-radius: 3px;
	color:#fff;
	font:400 15px/16px 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	padding:10px 0 8px;
	width:100%;
	text-align: center;
	border:none;
	cursor: pointer;
}
.contact-form input[type="submit"]:hover {
	background-color:#336699;
}

/* case worth estimate form */
#case-form {
	width:100%;
	background-color:#c4cfda;
	padding: 43px 0;
}
.step-form {
	background-color:#f4f6f7;
	padding:30px 40px 22px;
	box-shadow: 0 0 18px #b6c1cd;
}
.step-form h3 {
	font:700 27px/27px 'Quattrocento Sans', sans-serif;
	padding-bottom: 30px;
}
.step-form .step-nav {
	margin-bottom:28px;
	background:url('images/bg-step-form-nav.png') repeat-x 0 50%;
	display: inline-block;
}
.step-form .step-nav a {
	display: block;
	width:16px;
	height:16px;
	border-radius:16px;
	text-indent: -9999px;
	background-color:#787878;
	float: left;
	margin-right: 58px;
}
.step-form .step-nav a.activeSlide {
	background-color:#821705;
}
.step-form .step-nav a:last-child {
	margin-right: 0;
}
.step-form .step-slide {
	width:100%;
}
.step-form h4 {
	color:#7f1601;
	font:700 23.5px/23.5px 'Quattrocento Sans', sans-serif;
}
#case-form .req {
	position: absolute;
	right: 35px;
	top:90px;
	font-size: 12px;
	text-transform: uppercase;
}
.step-form form {
	overflow: hidden;
}
.step-form input[type="text"] {
	background-color: #fff;
	border:1px solid #d7d7d7;
	padding:14px 2% 12px;
	font: 400 17px/17px Arial, sans-serif;
	color:#181818;
	margin-bottom:14px;
	border-radius:3px;
	width:20%;
}
.step-form input[type="submit"], 
.step-form input[type="button"] {
	display: block;
	float: right;
	border: none;
	background-color:#7f1601;
	border-radius:3px;
	color:#fff;
	text-transform: uppercase;
	font: 700 16px/16px 'Quattrocento Sans', sans-serif;
	padding: 11px 25px 10px;
	cursor: pointer;
}

.step-form input[type="button"].prev-btn {
margin-right: 10px;
background-color: #AAB4BE;
}
.estimate-btn{
	margin-top: 7px;
	padding: 10px 25px 8px !important;
}

.step-form input[type="submit"]:hover, 
.step-form input[type="button"]:hover {
	background-color:#336699;
}
.step-form .dollar {
	display: block; 
	float: left; 
	font-size: 30px; 
	line-height: 50px; 
	margin-right: 10px;
}
#form-slide-1 .left {
	width:40%; 
	margin-right:10%;
}
#form-slide-1 input[type="text"] {
	width:42.7%; 
	display:block; 
	margin-right:0;
}
#form-slide-2 .left,
#form-slide-2 .right {
	width:50%;
}
#form-slide-2 input[type="text"] {
	width:80%;
}
#form-slide-3 input[type="text"] {
	width:50%;
}
#form-slide-4 p.left {
	width:60%; 
	font-size:13px; 
	line-height:19px;
}
#form-slide-4 input[type="submit"] {
	margin-top:32px;
}
#form-slide-4 #calc-info input.name {
	width:40%;
}
#form-slide-4 #calc-value {
	font-size:20px;
	font-weight: 700;
	width:31%;
}

input[type=checkbox] {
	display: none;
}
input[type="checkbox"], input[type="radio"] {
box-sizing: border-box;
padding: 0;
}

.checkbox-container label{
	color: #181818;

	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 15px;
	line-height: 18px;
	top: 10px;
}

.checkbox-container label:before{
	content: "";
display: inline-block;
width: 16px;
height: 16px;
margin-right: 10px;
position: absolute;
left: 0;
top: 0;
bottom: 1px;
background-color: #ffffff;
border: solid 1px #D6D6D6;
}

input[type=checkbox]:checked + label:before {
/*	content: "\2713"; */
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	background: url(images/checkbox-check.png);
	font-size: 15px;
	color: #6D1100;
	text-align: center;
    line-height: 15px;
}

/* case results & blog area */
#results-blog {
	width:100%;
	background-color:#fff;
	padding:50px 0;
}
#results-blog .case-results,
#results-blog .blog-post {
	width:46%;
	margin-right: 8%;
	float: left;
}
#results-blog .blog-post {
	margin-right: 0;
}
#results-blog h3 {
	font-size:19px;
	padding-bottom: 30px;
	display: inline-block;
}
#results-blog h4 {
	font-size: 19.5px;
	color:#1a4d80;
	line-height: 21px;
}
.case-results .result {
	padding-bottom: 5px;
}
.case-results .result strong span {
	color:#7f1601;
}
.case-results .results-nav a {
	background-color:#f3f5f7;
	border-radius:3px;
	color:#1a4d80;
	font:400 13px/13px 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	padding:5px 10px 4px;
	margin-right: 4px;
}
.results-nav{
	text-align: left;
	margin-top: 38px;
}
#results-blog .case-results .results-nav a {
	background-color:#f3f5f7;
}
.case-results .results-nav a:last-child {
	margin-left: 0px;
}
#results-blog .case-results .results-nav a:hover, 
#results-blog .case-results .results-nav a.activeSlide,
.case-results .results-nav a:hover, 
.case-results .results-nav a.activeSlide {
	background-color: #1a4d80;
	color:#fff;
}
.blog-post h3 {
	background:url('images/ico-rss.png') no-repeat 100% 0;
	padding-right: 23px;
}
.blog-post h4 {
	padding-bottom: 8px;
}
.blog-post .metadata {
	color:#6d6d6d;
	font-size:13px;
	margin-bottom: 8px;
	display: block;
}

/* CONTENT */
#breadcrumbs {
	width:100%;
	background-color:#9eacba;
	border-bottom:1px solid #fff;
	padding:11px 0 10px;
	color:#fff;
	font-size: 13px;
}
#breadcrumbs p {
	padding:0;
}
#breadcrumbs p span > span {
	padding:0 5px;
}
#breadcrumbs p span > span:first-child {
	padding-left: 0;
}
#breadcrumbs p a {
	color:#fff;
}
#inner-headline {
	width:100%;
	background-color:#f5f3f3;
	padding:30px 0 5px;
	border-bottom:2px solid #fff;
}
.content {
	width: 64%;
	padding:40px 0 48px;
}
.content ul {
	margin:0 20px 30px;
	list-style:none;
}
.content ul ul.children, 
.content ul ul.children li {
	margin-bottom:0;
	padding-bottom:0;
}
.content ol {
	margin:0 20px 30px 25px;
	list-style: decimal outside;
	padding-left: 13px;
}
.content ul li {
	background:url('images/arrow-menu-red-content.gif') no-repeat 0 6px;
	padding: 0 0 12px 19px;
}
.content ol li {
	padding:0 0 12px 3px;
}
.content .wp-post-image, 
.content img.alignleft, 
.content .inner-video {
	float:left;
	margin:5px 20px 15px 0;
}
.content img.alignright {
	float:right;
	margin:5px 0 15px 20px;
}
.content .cw_video_open_popup_customized {
	display: block;
	position: relative;
}
.content .cw_video_video_btn {
	position: absolute;
	top:50%;
	left:50%;
	margin:-32px 0 0 -32px;
	opacity: 0.7;
}
.content .cw_video_open_popup_customized:hover .cw_video_video_btn {
	opacity: 1;
}
.content .cw_video_img {
	max-width: 289px;
}
.content iframe.cw_video_single {
	width:100%!important; /* overrides the plugin styles */
	margin-top:0!important;
}
.home .column-span2 iframe.cw_video_single {
	width:508px !important; /* overrides the plugin styles */
	height: 286px !important;
	margin-top:0!important;
	padding: 0 30px 20px 14px;
}
.qa_cats {
	display: none;  /* hides the automatically placed link at bottom of faq single content because we don't use faq archives */
}
.services-box {
	margin-bottom:30px;
}

/* table styles, use <table class="table"> */ 
.table{
    border-collapse: collapse;
    border-spacing: 0;
     width:100%;
     height:100%;
     margin:0px 0px 30px;
     padding:0px;
     border:1px solid #4c4c4c;
}
.table td{
     vertical-align:middle;
     border:1px solid #4c4c4c;
     border-width:0px 1px 1px 0px;
     text-align:left;
     padding:12px;
     font-size:12px;
     font-weight:normal;
     color:#000000;
}
.table tr:last-child td{
     border-width:0px 1px 0px 0px;
}
.table tr td:last-child{
     border-width:0px 0px 1px 0px;
}
.table tr:last-child td:last-child{
     border-width:0px 0px 0px 0px;
}
.table tr:first-child td{
     background-color:#e5e5e5;
     border:0px solid #4c4c4c;
     text-align:center;
     border-width:0px 0px 1px 1px;
     font-size:14px;
     font-weight:bold;
     color:#333333;
}
.table tr:first-child td:first-child{
     border-width:0px 0px 1px 0px;
}
.table tr:first-child td:last-child{
     border-width:0px 0px 1px 1px;
}


/* SIDEBAR */
.sidebar {
	width: 32%;
	background-color:#f3f5f7;
	padding:40px 0 48px;
	border-bottom:2px solid #fff;
}
.sidebar .padding-box {
	padding:0 20px;
}
.sidebar .padding-box > div {
	padding-bottom: 65px;
	overflow: hidden;
}
.sidebar h3 {
	padding-bottom: 24px;
}
.sidebar h3, 
.sidebar .contact-form h3 {
	font-size:19px;
}
.sidebar .contact-form h3 {
	padding-bottom: 18px;
}
.sidebar h4 {
	color:#1a4d80;
	font:700 18px/18px 'Quattrocento Sans', sans-serif;
	padding-bottom: 14px;
}
.sidebar .btn-small, 
.case-results .results-nav a {
	background-color:#fff;
}
.sidebar p {
	padding-bottom: 15px;
}
.sidebar ul {
	list-style: none;
}
.sidebar ul li {
	background:url('images/arrow-menu-blue-sidebar.gif') no-repeat 16px 18px #fbfbfc;
	padding:14px 18px 12px 35px;
	margin-bottom:2px;
}
.sidebar .testimonial img {
	margin:-10px 0 20px;
}
.sidebar .faq ul li {
	background:url('images/arrow-menu-red-sidebar.gif') no-repeat 0 6px transparent;
	padding: 0 0 12px 19px;
}
.sidebar .side-award {
	width: 100%;
	background-color: #fbfbfc;
	padding:33px 0 18px;
}
.sidebar .side-award img {
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;
}
.sidebar .contact-form + .padding-box, 
.sidebar .side-award + .padding-box {
	padding-top: 40px;
}


/* OUR FIRM PAGE */
#attorneys.our-firm {
	overflow: hidden;
	margin-bottom: 25px;
}
#attorneys.our-firm .column {
	width:49%;
	height:301px;
}
#attorneys.our-firm .column:nth-child(2n) {
	border-right:none;
}
#attorneys.our-firm .column:nth-child(3n) {
	border-right:2px solid #fff;
}
#attorneys.our-firm h2 {
	font: 700 21px/21px 'Quattrocento Sans', sans-serif;
	color:#7f1601;
	padding:9px 30px 19px 0;
	text-transform: uppercase;
}
#attorneys.our-firm p {
	padding:0 20px 10px 0;
}
#attorneys.our-firm img.award {
	display: block;
	padding:18px 0 0 40px;
}


/* ATTORNEY BIO PAGE */
.content .attorney-image {
	float: left;
	margin: 5px 20px 15px 0;
}
.content .attorney-image .wp-post-image {
	margin:0 0 16px;
	float: none;
	display: block;
}
.content .attorney-image a {
	display: block;
	background-color:#7f1601;
	font:700 20px/20px 'Quattrocento Sans', sans-serif;
	color:#fff;
	text-transform: uppercase;
	padding:16px 0 14px;
	text-align: center;
	border-radius: 3px;
}
.content .attorney-image a:hover {
	background-color:#336699;
}
#contact-me {
	width:300px;
}
.atty-thumb {
	float: left;
	margin:0 19px 19px 0;
}
.atty-thumb:nth-child(2n) {
	margin-right:0;
}

/* OUR STAFF PAGE */
#staff {
	width:100%;
	background-color:#fff;
	padding:2px 0 0;
}
#staff .column {
	width:33%;
	border-right:2px solid #fff;
	border-bottom:2px solid #fff;
/*	height:203px; */
	height: 235px;
	position: relative;
}
#staff .column:nth-child(3n) {
	border-right:none;
}
#staff .staff-img span {
	display: block;
}
#staff .staff-img .name {
	position: relative;
	text-align: center;
/*	bottom:50px; */
	font:700 22px/22px 'Quattrocento Sans', sans-serif;
	color:#000000;
/*	text-shadow: 0px 0px 12px #000; */
	margin-top: 8px;
}


/* LANDING PAGE */
#banner.landing .wrapper {
	width:940px;
	padding:0 10px;
}
#banner.landing .slide {
	padding-top:27px;
	height: 277px;
}
#banner.landing .slide-text {
	float: right;
	width: 32%;
}
#banner.landing h2 {
	font-size: 23px;
	padding-bottom: 5px;
	line-height: 36px;
}
#banner.landing h2 strong {
	font-size: 27px;
	padding:5px 16px 3px;
	margin:0 0 0 -16px;
}
#banner.landing .slide-text img {
	width:50%;
	margin-bottom: 6px;
}
#banner.landing .slide-text p {
	padding-bottom: 5px;
	font-size:17.5px;
	line-height: 27px;
}
.intro-text {
	width:100%;
	background-color:#f3f5f7;
}
.intro-text p {
	font-size:17px;
	line-height: 26px;
	color:#3d3d3d;
	padding-bottom:10px;
}
.page-template-page-landing-php .sidebar {
	padding-top:0;
	margin-top:-203px;
}
.two-col {
	overflow: hidden;
	margin-bottom: 70px;
}
.two-col .case-results, 
.two-col .faq {
	float: left;
	width: 47%;
	margin-right:6%;
}
.two-col .faq {
	margin-right: 0;
}
.two-col h3 {
	font-size:19px;
	padding-bottom: 35px;
}
.two-col h4 {
	font-size:15.5px;
	color:#1a4d80;
	padding-bottom: 15px;
}
.two-col p {
	padding-bottom: 10px;
}
.two-col .results-nav {
	padding-bottom: 2px;
}
.two-col .btn-small, 
.two-col .btn-small-wt, 
.two-col .results-nav a {
	background-color: #f3f5f7;
}
.two-col ul {
	margin: 0 0 20px;
}


/* CONTACT PAGE */
.content .contact-form {
	margin-bottom:48px;
	background-color: #9eacba;
	padding:40px 18px 18px;
	border-radius: 3px;
}
.content .contact-form form {
	background-color: transparent;
	padding:0;
	overflow: hidden;
}
.content .contact-form .req {
	color:#d5d9dd;
}
.content .contact-form input[type="text"], 
.content .contact-form textarea {
	padding:15px 3%;
	width:94%;
}
.content .contact-form textarea {
	height:130px;
}
.content .contact-form input[type="submit"] {
	margin-top:7px;
	width:auto;
	float: right;
	padding:10px 10px 8px;
}
.address-hours {
	margin-bottom: 40px;
	overflow: hidden;
}
.address-hours .column {
	width:47%;
	margin-right:6%;
}
.address-hours .column:last-child {
	margin-right:0;
}
.address-hours .wpseo-map-canvas {
	width:100%!important;
}
.address-hours .wpseo-opening-hours tr td {
	padding:0 5px 2px;
	font-size:14px;
}
.page-template-page-contact-php .sidebar .padding-box img, 
.page-template-page-calculator-php .sidebar .padding-box img {
	margin-bottom: 20px;
	display: block;
}
.page-template-page-contact-php .wpseo-location {
	margin-bottom: 15px;
}
.page-template-page-contact-php .wpseo-location h3 {
	font-size:25px;
	padding-bottom: 18px;
}
.page-template-page-contact-php .wpseo-address-wrapper {
	margin-bottom: 8px;
}


/* COMMUNITY / LOCATIONS */
#banner.location .wrapper {
	width:940px;
	padding:0 10px;
}
#banner.location .slide {
	height:304px;
	position: relative;
	padding: 0;
}
#banner.location .attribution {
	position: absolute;
	right:0;
	bottom:17px;
	background-color:rgba(0,0,0,0.4);
	color:#fff;
	font:400 11.5px/11.5px 'Quattrocento Sans', sans-serif;
	padding:5px 10px 6px;
}
#banner.location .attribution a {
	font-weight: 700;
	color:#fff;
}
.content.location .contact-form {
	padding-top: 30px;
}
.content.location .contact-form .req {
	top:95px;
}
.content .contact-form h3 {
	background-color:transparent;
	border:none;
	font-size: 35px;
	line-height: 35px;
	padding: 0 0 22px 0;
}
.content .contact-form h3 strong {
	font-size:33px;
}
.office-info .wpseo-map-canvas {
	margin-bottom: 20px;
}
.office-info .wpseo-location h3 {
	padding-bottom: 5px;
}
.office-info .btn-small {
	display: inline-block;
	margin: 13px 0 30px;
}
.office-info .office-hours {
	margin-bottom: 40px;
}
.office-info .office-hours h3 {
	color:#181818;
	font:700 14px/14px Arial, sans-serif;
	padding-bottom: 15px;
}
.office-info .wpseo-opening-hours tr td {
	font-size:14px;
	padding:0 5px 4px;
}


/* PERSONAL INJURY CALCULATOR */
.content .contact-form.calculator {
	padding-top:22px;
}
.content .contact-form.calculator .req {
	top:80px;
}
.content .contact-form.calculator h3 {
	font-size:27px;
	color:#fff;
	padding-bottom: 50px;
}
.content h3.red {
	color:#7f1601;
}
.content h3.red span {
	color:#000;
	font-weight: 400;
}
div.calculator p {
	color: #fff;
	margin: 1em 0 0 0;
}
#calc-results {
	display: none;
}
#calc-estimate {
	align-items: flex-start;
	background-color: #7f1601;
	border-radius: 3px;
	border: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	float: right;
	font: 400 16px/16px 'Quattrocento Sans', sans-serif;
	margin: 7px 0 0 0;
	padding: 10px 10px 8px;
	text-transform: uppercase;
	text-align: center;
	width: auto;
}
#calc-estimate:hover {
	background-color: #336699;
}
#calc-submit {
	display: none;
}


/* BLOG */
#inner-headline.blog h1 {
	width:66%;
}
.sidebar .popular ul li {
	background-color:#f7fafc;
}
.sidebar .popular ul li a {
	color:#333;
}
.sidebar .popular ul li a:hover {
	color:#7f1601;
}
.archives select {
	width:100%;
	border:0;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
	padding:15px 12px;
	font:700 18px/18px 'Quattrocento Sans', sans-serif;
	background:url('images/arrow-dropdown.gif') no-repeat 95% 50% #fbfbfc;
	text-indent: 0.01px;
	text-overflow: "";
	cursor: pointer;
}
.blog .blog-post {
	border-bottom:2px solid #f6f4f4;
	padding-bottom: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}
.blog .post-header {
	overflow: hidden;
	margin-bottom: 20px;
}
.blog .post-header .date {
	margin-right:15px;
}
.blog .post-header .date span {
	background-color:#7f1601;
	padding:12px 10px 11px;
	margin-right:1px;
	font:700 17.5px/17.5px 'Quattrocento Sans', sans-serif;
	color:#fff;
	text-transform: uppercase;
	display: block;
	float: left;
}
.blog .post-header .date span.blue {
	background-color:#336699;
	margin-right: 0;
}
.blog .post-header h2 {
	padding-bottom: 0;
}
.blog .post-header h2 a {
	color:#000;
}
.blog .post-header h2 a:hover {
	color:#7f1601;
}
.blog .post-header .metadata {
	color: #6D6D6D;
    display: block;
    font-size: 13px;
    margin-bottom: 0;
}
.blog .post-header .metadata span {
	color:#336698;
	font-weight: 700;
}
.blog .continue {
	float:right;
	background-color:#7f1601;
	font:700 16px/16px 'Quattrocento Sans', sans-serif;
	color:#fff;
	text-transform: uppercase;
	padding:11px 15px 10px;
	border-radius: 3px;
}
.blog .continue:hover {
	background-color: #336699;
}
.social-share {
	overflow: hidden;
}
.blog .social-share {
	margin:14px 0 40px;
}
.social-share .fb-like, 
.social-share .twitter-share-button, 
.social-share .IN-widget, 
.social-share #___plusone_0 {
	display: block;
	float: left;
	margin-right: 10px;
}
#searchform {
	width:100%;
	background-color:#fff;
	border:1px solid #f5f3f3;
}
.sidebar #searchform {
	margin-top:-116px;
	margin-bottom:70px;
	border:none;
}
#searchform label {
	display: none;
}
#searchform input[type="text"] {
	border:none;
	padding:15px;
	color:#5c5b5b;
	font:400 13px/13px Arial, sans-serif;
	width:86%;
}
.sidebar #searchform input[type="text"] {
	width:75%;
}
#searchform input[type="submit"] {
	border:none;
	background:url('images/ico-search.jpg') no-repeat 0 0 transparent;
	width:24px;
	height:19px;
	text-indent: -9999px;
	cursor: pointer;
}

/* blog pagination */
.blog-pag {
    padding: 30px 0 40px;
}
.blog-pag ul {
    display: table;
    margin:0;
}
.blog-pag ul li:first-child {
    margin-left: 0;
}
.blog-pag ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    list-style: none outside none;
    margin: 0 0 0 5px;
    padding: 0;
}
.blog-pag ul li.last {
    margin-left: 40px;
}
.blog-pag ul li a, .blog-pag ul li span {
    background: none repeat scroll 0 0 #f6f4f4;
    border-radius: 3px;
    color: #336699;
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding: 2px 10px;
}
.blog-pag ul li a:hover, .blog-pag ul li span.current {
    background: none repeat scroll 0 0 #336699;
    color: #fff;
}

/* blog comments */
#comments {
	color:#5c5b5b;
}
.comment-form-holder {
	overflow: hidden;
	border-top: 1px solid #336699;
	padding:29px 0;
}
.comment-form-holder h3 {
	color:#336699;
	font-size: 25px;
}
.comment-form-holder .avatar-thumb {
	margin-right: 3%;
	border: 1px solid #336699;
	width:10%;
}
#respond-form {
	width:86%;
}
#respond-form h3.comment-reply-title {
	display: none;
}
#respond-form .comment-form {
	overflow: hidden;
}
#respond-form input[type="text"], 
#respond-form textarea {
	border: 1px solid #336699;
	padding:20px 5%;
	width:89%;
	color:#336699;
	font:400 15px/15px Arial, sans-serif;
	margin-bottom: 10px;
}
#respond-form textarea {
	height: 90px;
}
#respond-form input[type="submit"] {
	background-color:#336699;
	color:#fff;
	font:700 16px/16px 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	padding:10px 20px 9px;
	float: right;
	border:none;
	border-radius: 3px;
}
.comment-list {
	border-top: 1px solid #336699;
	padding-top:55px;
}
.comment-list ul {
	margin:0;
}
.comment-list ul li {
	background: none;
	padding:0;
	margin-bottom:50px;
}
.comment-list .avatar {
	float:left;
	width:10%;
	margin-right:3%;
	border:1px solid #336699;
}
.comment-list .comment-author .fn a,
.comment-list .comment-author .says, 
.comment-list .comment-meta, 
.comment-list .reply a {
	font:400 15px/15px 'Quattrocento Sans', sans-serif;
	color:#005696;
	font-style: normal;
	padding-bottom:5px;
}
.comment-list .comment-meta {
	padding:10px 0 30px;
}


/* CASE RESULTS / TESTIMONIAL PAGES */
.intro {
	font:400 25px/35px Arial, sans-serif;
	color:#9eacba;
	padding:30px 0 35px;
}
.grid {
	width:100%;
	margin-bottom:28px;
}
.grid .box {
	width:27%;
	border:1px solid #e1e1e1;
	padding:25px 2.5%;
	margin-bottom:10px;
	margin-right:1%;
	overflow: hidden;
}
.grid .box:nth-child(3n) {
	margin-right: 0;
}
.grid .box h3 {
	color:#1a4d80;
}
.grid .box strong span {
	color:#7f1601;
}
.grid .box.review h2 {
	font-size:30px;
	color:#414547;
	padding-bottom:2px;
}
.grid .box.review {
	padding:25px 0 10px;
	width:32%;
}
.grid .box.review .head {
	padding:0 7% 13px;
}
.grid .box.review .logos {
	border-top:1px solid #eaeef3;
	border-bottom:1px solid #eaeef3;
	overflow: hidden;
}
.grid .box.review .logos a {
	padding:7px 0 11px;
	border-right: 1px solid #eee;
	display: block;
	float: left;
	text-align: center;
	width:49.5%;
}
.grid .box.review .logos a:last-child {
	border:none;
}
.grid .box.review .review-body {
	padding:15px 7% 0;
}
.grid .box.review .review-body p {
	padding-bottom:10px;
}
.grid .box .btn-plus {
	position:absolute; 
	bottom:20px; 
	right:20px; 
	font-size:40px;
	font-weight:bold; 
	color:#e0e0e0;
}
.grid .box .btn-plus:hover {
	color:#9EACBA;
}
.box-popup {
	font-size: 18px;
    line-height: 29px;
    padding: 25px;
    width: 600px;
}

.page-id-264 .box strong{
	color: #7F1601;
}

.load-more {
	display: block;
	background-color:#336699;
	font:400 17px/17px 'Quattrocento Sans', sans-serif;
	color:#fff;
	text-transform: uppercase;
	padding:13px 0 10px;
	text-align: center; 
	margin-bottom: 29px;
	border-radius: 3px;
}
.load-more:hover {
	background-color:#7f1601;
	color:#fff;
}
.load-more a {
	color:#fff;
	width:100%;
	display: block;
}

.thankyou-results {
	padding-top:35px; 
	margin-top:20px; 
	border-top:1px solid #eee;
}
.thankyou-results h2 {
	padding-bottom:35px;
}
.thankyou-results .result {
	margin-bottom:35px;
}
.thankyou-results .result h3 {
	padding-bottom: 10px;
}
.thankyou-results .result p {
	padding-bottom:5px;
}
.thankyou-results .result strong span {
	color:#7F1601;
}


/* FOOTER */
footer {
	width:100%;
}
#top-footer {
	width:100%;
	background-color:#f5f3f3;
	padding:58px 0;
}
#top-footer .left {
	width:50%;
}
#top-footer .column {
	width:48%;
	margin-right: 4%;
}
#top-footer .column:last-child {
	margin-right: 0;
}
#top-footer .column h3 {
	font-size:17.5px;
	text-transform: uppercase;
	padding-bottom:32px;
}
#top-footer .column .wpseo-location h3 {
	font-size:16.5px;
	line-height: 22px;
	text-transform: none;
	padding-bottom:0px;
}
#top-footer .column .wpseo-location {
	font:400 16.5px/22px 'Quattrocento Sans', sans-serif;
	margin-bottom:25px;
}
#top-footer .column ul {
	list-style: none;
}
#top-footer .column ul li {
	font:400 13.5px/13.5px 'Quattrocento Sans', sans-serif;
	padding-bottom:13px;
}
#top-footer .column ul li a {
	color:#000;
}
#top-footer .column ul li a:hover {
	color:#7f1601;
}
.btn-small-wt {
	background-color:#fff;
	border-radius:3px;
	color:#1a4d80;
	font:400 13px/13px 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	padding:5px 10px 4px;
}
.btn-small-wt:hover {
	background-color: #1a4d80;
	color:#fff;
}
#top-footer .right {
	width:27%;
}
#top-footer .call-chat {
	width:100%;
	margin-bottom: 55px;
}
#top-footer .social-icons h4 {
	font:400 19.5px/19.5px 'Quattrocento Sans', sans-serif;
	padding-bottom:18px;
}
#top-footer .social-icons ul {
	list-style: none;
}
#top-footer .social-icons ul li {
	float: left;
	margin-right: 19px;
}
#copyright {
	width:100%;
	background-color:#fff;
	padding:22px 0 10px;
}
#copyright p {
	color:#545454;
	font-size:12px;
	padding-bottom:8px;
}
#copyright p.foot-links {
	color:#bbb;
	font-size:14px;
}
#copyright p.foot-links a {
	padding:0 5px;
	color:#1a4d80;
}
#copyright p.foot-links a:first-child {
	padding-left:0;
}
#copyright p.foot-links a:last-child {
	padding-right:0;
}
#copyright a {
	color:#545454;
}
#copyright a:hover, 
#copyright p.foot-links a:hover {
	color:#7f1601;
}

/* fixed div */
#fixedDiv {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999;
}

/* other info */
.right a,
.other-info a{
font-weight: bold;
}

/* sidebar sticky */
.divfloat #sb-cmform{
z-index: 9999;
width: 301px;
}

/* RESPONSIVE */
/* tablet */
@media (max-width: 980px) {
	.wrapper {
		width:92%;
		margin:0 auto;
	}
	.content {
		width:59%;
	}
	.sidebar {
		width:39%;
	}
	.content .wp-post-image, 
	.content img.alignleft {
		width:50%;	
	}	
	.call-chat {
		width:49%;
	}
	nav ul li a {
		padding: 19px 16px 15px;
		font-size:14px;
		line-height: 14px;
	}
	nav ul li.home a {
		background-position: 0 17px;
	}	
	#banner .banner-nav {
		right:0;
		left: auto;
	}
	#banner.landing .wrapper, 
	#banner.location .wrapper {
		padding:0;
		width:100%;
	}
	#banner.landing .slide-text {
		padding-right: 20px;
	}
	.page-template-page-landing-php .sidebar {
		margin-top:-255px;
	}
	#attorneys .wrapper {
		width:auto;
	}
	#attorneys .column {
		height: 100%;
		width:32.5%;
	}
	#attorneys .column p {
		font-size:14px;
		line-height: 19px;
	}
	.award-logos img {
		padding:20px 0;
	}
	#staff .column {
		height: 141px;
	}
	.step-form input[type="text"]:first-child {
		margin-right: 4%;
	}
	.content .attorney-image {
		width:50%;
	}
	.content .attorney-image .wp-post-image {
		width:100%;
	}
	.atty-thumb {
		width:44%;
	}
	.content.location .contact-form .req {
		top:121px;
	}
	.content .contact-form.calculator .req {
		top:110px;
	}
	.address-hours .wpseo-opening-hours tr td {
		font-size:12px;
	}
	#top-footer .right {
		width:47%;
	}
	#top-footer .social-icons ul li {
		margin-right: 15px;
	}
	#form-slide-1 input[type="text"] {
		width:41%;
	}
	#form-slide-4 #calc-results h4 {
		width:50%;
	}
	#form-slide-4 p.left {
		font-size:11px;
		width:57%;
	}
	#form-slide-4 input[type="submit"] {
		width:35%;
		font-size:13px;
	}
}
/* mobile */
@media (max-width: 767px) {
	.wrapper {
		width:96%;
	}
	#body .wrapper {
		width:auto;
		padding:0;
	}
	#body .content {
		padding:30px 4% 10px;
		width:92%!important;
	}
	.visible-phone {
		display:block;
	}
	.visible-desktop {
		display: none;
	}
	.left, .column, .right {
		float: none;
	}
	.column, .content, .sidebar {
		width:100% !important;
	}
	.sidebar {
		padding-bottom: 0;
	}
	.sidebar .contact-form {
		display: none;
	}
	.column {
		margin-right:0 !important;
	}
	header {
		border-top:0;
		padding:0;
		background-color: #eae5e5;
	}
	header .wrapper {
		width:100%;
		padding:0;
	}
	header .logo {
		padding:13px 0 14px;
	}
	header .logo a {
		margin:0 auto;
		max-width: 100%;
		background-size: 95%;
		background-position: 50% 50%;
	}
	.sticky-wrapper {
		height: auto!important;
		display: block;
	}
	nav {
		z-index: 10;
	}
	nav ul {
		float: none;
		overflow: hidden;
	}
	nav ul li a {
		padding: 17px 15px 14px;
		font-size:12.5px;
		line-height: 16px;
	}
	nav ul li.home a {
		padding-left: 25px;
		background-position: 10px 16px;
	}
	nav ul li.menu-drop a {
		text-indent: -9999px;
		background:url('images/ico-menu-black.gif') no-repeat 12px 17px;
		border-right: none;
		padding-right: 30px;
	}
	nav ul li.menu-drop a:hover {
		background-image:url('images/ico-menu-blue.gif');
	}
	nav ul.menu-second {
		display: none;
		width:100%;
		position: absolute;
		top:47px;
		background-color:#fff;
		border-top:1px solid #f5f3f3;
	}
	nav ul.menu-second li {
		float: none;
		width:100%;
	}
	.tap-buttons {
		background-color:#9eacba;
		padding:14px 15px 13px;
		overflow: hidden;
		border-top:2px solid #fff;
	}
	.tap-buttons a {
		width:48%;
		margin-right: 4%;
		background-color:#7f1601;
		border-radius: 3px;
		padding:11px 0 11px;
		text-align: center;
		font:400 19px/19px 'Quattrocento Sans', sans-serif;
		color:#fff;
		display: block;
		float: left;
	}
	.tap-buttons a:last-child {
		margin-right:0;
	}
	.tap-buttons a:hover {
		background-color:#336699;
	}
	footer .tap-buttons {
		background-color:transparent;
		width:100%;
		padding: 0;
		border-top:none;
	}
	footer .tap-buttons .chat {
		background:url('images/ico-chat.png') no-repeat 15px 12px #336699;
		padding-left: 7%;
		width:41%;
	}
	footer .tap-buttons .chat:hover {
		background-color:#7f1601;
	}
	#inner-headline h1, 
	#inner-headline.blog h1 {
		width:100%;
		font-size:38px;
	}
	#pa-cols .wrapper, 
	#attorneys .wrapper,
	#case-form-mobile .wrapper, 
	#results-blog .wrapper, 
	#inner-headline .wrapper,
	.intro-text .wrapper,
	#top-footer .wrapper, 
	#copyright .wrapper {
		width:auto;
	}
	#banner {
		position: relative;
		border-bottom: none;
	}
	#banner .slide-text {
		position: absolute;
		top:0;
		width:auto;
		padding:0 22px;
	}
	#banner .slide-text h2 {
		font-size:23px;
		line-height: 23px;
		padding: 14px 0 6px;
	}
	#banner .slide-text h2 strong {
		font-size:26px;
		padding:13px 16px 10px;
		margin-left:-16px;
	}
	#banner .slide-text p {
		font-size:14px;
		line-height: 17px;
		padding-bottom: 4px;
	}
	#banner .slide-text p.name {
		font-size:12.5px;
	}
	#banner .slide-text img {
		margin-bottom: 8px;
	}
	#pa-cols h2 {
		font-size:28px;
		line-height: 28px;
	}
	#pa-cols .column {
		width:49%!important;
		float: left!important;
		margin-bottom:30px;
	}
	#case-form-mobile {
		padding:28px 0 0;
	}
	#case-form-mobile h3 {
		color:#232323;
		font:700 23px/23px 'Quattrocento Sans', sans-serif;
		text-transform: uppercase;
		background:url('images/ico-calculator.jpg') no-repeat 100% 0;
		padding:14px 0;
	}
	#case-form-mobile h3 span {
		display: block;
		color:#7f1601;
		font-size:29px;
		line-height: 29px;
	}
	#case-form-mobile p {
		font:700 19px/28px 'Quattrocento Sans', sans-serif;
	}
	#case-form-mobile a {
		display: block;
		background-color:#7f1601;
		text-align: center;
		padding:10px 0 9px;
		font:700 16px/16px 'Quattrocento Sans', sans-serif;
		text-transform: uppercase;
		color:#fff;
		border-radius: 3px;
	}
	#attorneys .column h1, 
	#attorneys .column p {
		padding-left: 0;
		padding-right: 0;
		display: block;
	}
	#attorneys .column .btn-small {
		float: right;
		margin-right: 0;
	}
	.home .column-span2 iframe, 
	.home .column-span2 iframe.cw_video_single {
		display: none;
	}
	#staff .column {
		height: auto;
	}
	#results-blog {
		padding:10px 0 0;
	}
	#results-blog .case-results, 
	#results-blog .blog-post {
		float: none;
		width:100%;
		margin-right: 0;
		margin-bottom: 22px;
	}
	#results-blog .case-results {
		border-bottom: 1px solid #e1e1e1;
		padding-bottom:22px;
	}
	#results-blog .case-results .results-holder {
		max-width: 100%;
	}
	#results-blog .case-results .results-nav a {
		background-color: #f3f5f7;
	}
	#results-blog .case-results .results-nav a:hover, 
	#results-blog .case-results .results-nav a.activeSlide {
		color:#fff;
		background-color:#336699;
	}
	.content .attorney-image {
		width:100%;
	}
	.content .search-archives {
		margin-bottom: 20px;
	}
	.content .search-archives #searchform {
		background-color:#9eacba;
		border:none;
		margin-bottom: 11px;
	}
	.content .search-archives #searchform input[type="text"] {
		width:75%;
		background-color:#9eacba;
		color:#fff;
	}
	.content .search-archives #searchform input[type="submit"] {
		background-image:url('images/ico-search-blue.jpg');
	}
	.content .search-archives .archives select {
		background-color:#f3f5f7;
		background-image:url('images/arrow-dropdown-blue.gif');
	}
	.blog .post-header .date {
		float: left;
	}
	#banner.landing .slide-text {
	    background-color: rgba(0, 0, 0, 0.5);
	    padding: 19px 3%;
	    width: 94%;
	}
	.page-template-page-landing-php .sidebar {
		margin-top:0;
	}
	.two-col {
		margin-bottom: 20px;
	}
	.two-col .case-results, 
	.two-col .faq {
		float: none;
		width:100%;
		margin-bottom:20px;
		margin-right: 0;
	}
	.two-col .case-results {
		padding-bottom:20px;
		border-bottom:1px solid #e1e1e1;
	}
	.content .contact-form input[type="submit"] {
		font-size:15px;
	}
	.address-hours {
		margin-bottom: 0;
	}
	.address-hours .column {
		width:100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.address-hours .btn-small {
		display: block;
		padding:13px 0 11px;
		font-size:20px;
		text-align: center;
	}
	.intro {
		padding:30px 15px 35px;
	}
	.grid .box {
		width:87%;
		margin:0 4% 10px;
	}
	.grid .box.review {
		width:92%;
	}
	#top-footer {
		padding:30px 0 22px;
	}
	#top-footer .left, 
	#top-footer .right {
		width:100%;
	}
	#top-footer .column {
		width:100%;
		margin-bottom:32px;
	}
	#top-footer .column:last-child {
		margin-bottom: 0;
	}
	#top-footer .column h3 {
		padding-bottom: 22px;
	}
	#top-footer .left {
		border-bottom:1px solid #ccc;
		padding-bottom: 5px;
		margin-bottom: 20px;
	}
	#top-footer .social-icons {
		overflow: hidden;
		margin-bottom: 35px;
	}
	#top-footer .social-icons ul li {
		margin-right: 11px;
	}
	#top-footer .social-icons ul li:last-child {
		margin-right: 0;
	}
	#top-footer .btn-small-wt {
		font-size:16.75px;
		line-height: 16.75px;
	}
	#top-footer .call-chat {
		text-align: center;
		margin:25px 0 0;
	}

	/* front page */
	#attorneys .column-span2 {
	width: 100%;
	margin-bottom: 16px;
	}
	
	/*.home .left,.home .column,.home .right {
	float: left;
	}*/

}


/* PRINT */
@media print {
	body { 
		background:white; 
		color:black; 
		margin:0; 
	}
}

/* Law Firm Protector */
#divSliderNoProblem {
 z-index:999999 !important; 
 visibility:hidden !important;
} 
#tabNoProblem {
 z-index:999999 !important; 
 visibility:hidden !important;
}


/* FONTS */
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(http://fonts.gstatic.com/s/quattrocentosans/v7/efd6FGWWGX5Z3ztwLBrG9coBJSyBiVuloIc8IXLz46o.woff) format('woff');
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Quattrocento Sans Bold'), local('QuattrocentoSans-Bold'), url(http://fonts.gstatic.com/s/quattrocentosans/v7/tXSgPxDl7Lk8Zr_5qX8FIaILZ3_VFR4y34zupljc1bH3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}